In [1]:
#
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy import nan as NA
import sys

In [2]:
#
import matplotlib.pylab as plt
from numpy.random import randn
%matplotlib inline

# Chapter 4: NumPy Basics: Arrays and Vectorized Computation

Display the date type of the following array, and cast it to float64 type

In [3]:
#
arr = np.array([1, 2, 3, 4, 5])

In [4]:
arr.dtype

dtype('int64')

In [5]:
float_arr = arr.astype(np.float64)

Create a copy of arr[1:3]

In [6]:
copy = arr[1:3].copy()
copy

array([2, 3])

Run next cell to create arr

In [7]:
#
arr = np.empty((8, 4))
for i in range(8):
    arr[i] = i
    
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

Fancy indexing: return the row 4, row 3, row 0 and row 6 of arr

In [8]:
arr[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

Run next cell to create arr

In [9]:
# 
arr = np.arange(32).reshape((8, -1))
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31]])

Fancy indexing: select elements (1,0), (5,3), (7, 1) and (2, 2) from arr and return a 1-d array

In [10]:
arr[[1,5,7,2],[0,3,1,2]]

array([ 4, 23, 29, 10])

Run next celll to create arr

In [12]:
#
arr = np.random.randn(7) * 5
arr

array([ 13.199035  ,   4.48603775,   4.71119047,  -5.40851756,
        -0.689926  , -12.65277224,  -4.9219311 ])

Elementwisely return the fractional and integral parts of a floating point array arr

In [13]:
np.modf(arr)

(array([ 0.199035  ,  0.48603775,  0.71119047, -0.40851756, -0.689926  ,
        -0.65277224, -0.9219311 ]),
 array([ 13.,   4.,   4.,  -5.,  -0., -12.,  -4.]))

Run next cell to create three arrays

In [14]:
#
xarr = np.array([1.1, 1.2, 1.3, 1.4, 1.5])
yarr = np.array([2.1, 2.2, 2.3, 2.4, 2.5])
cond = np.array([True, False, True, True, False])

Use a numpy function to generate an array by taking a value from xarr whenever the correspoing value in cond is True otherwise take the value from yarr

In [15]:
np.where(cond, xarr, yarr)

array([1.1, 2.2, 1.3, 1.4, 2.5])

Run next cell to create arr

In [16]:
#
arr = np.random.randn(4, 4)
arr

array([[ 0.64638317,  0.27938162,  0.775276  ,  0.04788818],
       [-0.30166359,  0.3946696 , -0.79650219,  1.61607091],
       [-0.64523282,  1.07151105,  0.83659859,  0.83135493],
       [-1.78777673,  0.27260615, -0.59417523,  0.26581771]])

For a matrix arr of random numbers, use the same numpy function to replace all positive values with 2 and all negative values with -2

In [17]:
np.where(arr>0, 2, -2)

array([[ 2,  2,  2,  2],
       [-2,  2, -2,  2],
       [-2,  2,  2,  2],
       [-2,  2, -2,  2]])

Now use the same function, set only the positive values to 2 and keep other values of arr

In [18]:
np.where(arr>0, 2, arr)

array([[ 2.        ,  2.        ,  2.        ,  2.        ],
       [-0.30166359,  2.        , -0.79650219,  2.        ],
       [-0.64523282,  2.        ,  2.        ,  2.        ],
       [-1.78777673,  2.        , -0.59417523,  2.        ]])

Run next cell to create names and ints

In [19]:
#
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
ints = np.array([3, 3, 3, 2, 2, 1, 1, 4, 4])

Return the unique values in names and ints

In [20]:
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [21]:
np.unique(ints)

array([1, 2, 3, 4])

Run next cell to create values

In [22]:
#
values = np.array([6, 0, 0, 3, 2, 5, 6])

Check the membership of values in another array [2, 3, 6] and return the result as a boolean array

In [23]:
np.in1d(values, [2, 3, 6])

array([ True, False, False,  True,  True, False,  True])

Save arr to a .npy file, and then load it back and assign to arr2

In [25]:
np.save('some_array.npy', arr)
arr2 = np.load('some_array.npy')
arr2

array([[ 0.64638317,  0.27938162,  0.775276  ,  0.04788818],
       [-0.30166359,  0.3946696 , -0.79650219,  1.61607091],
       [-0.64523282,  1.07151105,  0.83659859,  0.83135493],
       [-1.78777673,  0.27260615, -0.59417523,  0.26581771]])

Save arr and arr2 to a single npz file, then load them back and assign arr2 to arr3

In [26]:
np.savez('array_archive.npz', arr_save = arr, arr2_save = arr2)

In [27]:
arch = np.load('array_archive.npz')
arr3 = arch['arr2_save']
arr3

array([[ 0.64638317,  0.27938162,  0.775276  ,  0.04788818],
       [-0.30166359,  0.3946696 , -0.79650219,  1.61607091],
       [-0.64523282,  1.07151105,  0.83659859,  0.83135493],
       [-1.78777673,  0.27260615, -0.59417523,  0.26581771]])

Create an ndarray arr by load a txt file from examples/array_ex.txt

In [28]:
arr = np.loadtxt('examples/array_ex.txt', delimiter = ',')
arr

array([[ 0.580052,  0.18673 ,  1.040717,  1.134411],
       [ 0.194163, -0.636917, -0.938659,  0.124094],
       [-0.12641 ,  0.268607, -0.695724,  0.047428],
       [-1.484413,  0.004176, -0.744203,  0.005487],
       [ 2.302869,  0.200131,  1.670238, -1.88109 ],
       [-0.19323 ,  1.047233,  0.482803,  0.960334]])

Now save arr to a txt file 'some_text.txt'

In [29]:
np.savetxt('some_text.txt', arr)